.clothing-view {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.add-input {
    opacity: 0;
    position: fixed;
    z-index: -1;
}

.add {
    position: absolute;
    height: 50px;
    width: 50px;
}

.add label {
    cursor: pointer;
}

.add:hover {
    background-color: rgba(150, 150, 150, 0.5);
    cursor: pointer;
}