{% extends 'public/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center text-center">
        <div class="col-12">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div class="mt-3">
                <a href="{% url 'signup' %}">Sign Up!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}